
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.score{
    display: flex;
    flex: 1 1 200px;
    gap: 300px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    font-size: 150px;
}

.score h1{
    margin: 0;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 300px;
    gap: 300px;
}
.buttons img{

    width: 300px;
    height: 300px;
    flex: 1 1 auto;
}
.title{
    margin: 10px;
}
.title h1{
    font-size: 100px;
    font-family: Arial, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
}
.results{
    font-size: 50px;
    font-family: Arial, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
    margin: 0 0;
}
.results h1{
    margin: 0;
}
